# Copy and paste this into the systemd service directory
# (Usually /etc/systemd/system)
[Unit]
Description=Christmas lights

[Service]
Type=simple
User={{.User}}
ExecStart={{.BinaryPath}}

[Install]
WantedBy=multi-user.target
